@media(max-width: 440px) {
    .container {
        padding: 0 10%;
        font-size: 200%;
    }

    .letras {
        font-size: x-large;
        width: 80%;
    }



    .btn-primary:first-child {
        margin-top: 8%;
        margin-bottom: 8%;
        width: 8em;
        height: 2.8em;
    }

    .btn-primary:nth-child(2) {
        width: 13em;
        height: 3.4em;
    }

    img#loading {

        width: 22%;
        height: 22%;
    }
}

@media(max-width: 770px) {

    .back-to-top {
        width: 60px;    
      }
    
      .back-to-top a {
          right: 15px;
          bottom: 15px;
      }

    .letras {
        width: 80%;
    }
}

.btn-primary {
    width: 12em;
    height: 3.4em;
    margin-top: 2%;
}

.btn-primary:first-child {
    opacity: 95%;
}

.btn-primary:nth-child(2) {
    font-weight: bold;
}

.button-clear {
    align-self: flex-start;
    margin-right: 8px;
}

.button-go {
    align-self: flex-end;
}

.container {
    margin-top: 5%;
    padding: 0 10%;
    font-size: 1.4em;
}

.title {
    margin-bottom: 3%;
}

.title h1 {
    font-weight: bold;
}

.letras {
    margin: 0;
    padding: 10% 0 0;
    width: 100%;
    font-family: monospace, sans-serif;
    font-size: larger;
}

.author {
    margin-top: 5%;
    padding-bottom: 10%;
}


h1 {
    text-align: center;
}

a {
    text-decoration: none;
    color: unset;
}

a:hover {
    text-decoration: none;
    color: unset;
}

img {
    width: 10%;
    margin-right: 10px;
}

img#loading {
    display: none;
    width: 18%;
    height: 18%;
}

#vagalumeContainer {
    display: none;
    width: 50%;
    padding: 5% 0 0;
    margin: 0 25%;
    text-align: center;
}

#vagalumeUrl {
    margin: 0;
    padding: 0;
    width: 100%;
}

.vagalumeIcon {
    width: 32px;
    height: 32px;
}

#artistAndSong {
    padding: 0;
    margin: 0;
}

.back-to-top {
    float: right;
    width: 80px;    
    display: none;
  }

  .back-to-top a {
      width: inherit;
      position:fixed;
      right: 20px;
      bottom: 15px;
      cursor:pointer;
  }


  .back-to-top a img {
    width: inherit;
}


.back-to-top:focus {
    outline-style: none;
  }